html, body {
  width: 100%;
  height: 100%;
}

#body {
  position: relative;
}

#sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 250px;
  overflow: auto;
  border-right: 1px solid gray;
}
#sidebar h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.5em;
}
#sidebar .artists {
  padding: 0 1em 1em 1em;
}
#sidebar .albums {
  padding: 0.3em 0 0 1em;
}
#sidebar .tracks {
  padding: 0.3em 0 0 1em;
}
#sidebar .artist,
#sidebar .album,
#sidebar .track {
  padding: 0.3em;
  cursor: pointer;
}

#playlist {
  position: absolute;
  top: 0px;
  left: 250px;
  bottom: 100px;
  right: 0px;
  padding: 10px;
  overflow: auto;
}
#playlist table th {
  text-align: left;
  font-weight: bold;
}
#playlist table th,
#playlist table td {
  padding: 0.3em 0.5em;
}
#playlist tr.selected td {
  color: white;
  background-color: navy;
}

#controls {
  position: absolute;
  left: 250px;
  bottom: 0px;
  right: 0px;
  height: 100px;
  border-top: 1px solid gray;
}
#controls .buttons {
  text-align: center;
  margin-top: 25px;
}
