{{#tracks_hidden}}
<ul class="tracks" style="display: none;">
{{/tracks_hidden}}
{{^tracks_hidden}}
<ul class="tracks">
{{/tracks_hidden}}
{{#tracks}}
  <li class="track track-{{id}}" data-id="{{id}}" data-number="{{number}}" data-name="{{formatted_name}}" data-artist_id="{{artist_id}}" data-album_id="{{album_id}}">{{formatted_name}}</li>
{{/tracks}}
</ul>
