<div id="sidebar">
  <h2>Library</h2>
</div>
<div id="playlist">
  <table class="playlist">
    <thead>
      <tr>
        <th>#</th>
        <th>Track</th>
        <th>Album</th>
        <th>Artist</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<div id="controls">
  <div class="buttons">
    <button id="prev">Previous</button>
    <button id="play">Play</button>
    <button id="stop">Stop</button>
    <button id="next">Next</button>
  </div>
</div>
<script type="text/javascript">
  var rowTemplate = {{{playlist_row_template}}};
</script>
<script type="text/javascript" src="/index.js"></script>
