<div id="sidebar">
</div>
<div id="playlist">
</div>
<script type="text/javascript" src="/sidebar.js"></script>
<script type="text/javascript" src="/playlist.js"></script>
<script type="text/javascript" src="/index.js"></script>
