<div id="library">
</div>
<div id="playlist">
</div>
<script type="text/javascript" src="/library.js"></script>
<script type="text/javascript" src="/playlist.js"></script>
<script type="text/javascript" src="/index.js"></script>
