<!DOCTYPE html>
<html>
  <head>
    <title>Playa</title>
    <link rel="stylesheet" type="text/css" href="/reset.css" />
    <link rel="stylesheet" type="text/css" href="/ui-lightness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/jquery-ui.js"></script>
    <script type="text/javascript" src="/jquery.mustache.min.js"></script>
  </head>
  <body>
    {{{yield}}}
  </body>
</html>
