<div class="artists">
{{#artists}}
  <div class="artist artist-{{id}} closed" data-id="{{id}}" data-name="{{formatted_name}}">{{formatted_name}}</div>
  <div class="albums" style="display: none;">
  {{#albums}}
    <div class="album album-{{id}} artist-{{artist_id}} closed" data-id="{{id}}" data-year="{{year}}" data-name="{{formatted_name}}" data-artist_id="{{artist_id}}">
      {{formatted_name}}
    </div>
    <div class="tracks" style="display: none;">
    {{#tracks}}
      <div class="track track-{{id}} album-{{album_id}} artist-{{artist_id}}" data-id="{{id}}" data-number="{{number}}" data-name="{{formatted_name}}" data-artist_id="{{artist_id}}" data-album_id="{{album_id}}">{{formatted_name}}</div>
    {{/tracks}}
    </div>
  {{/albums}}
  </div>
{{/artists}}
</div>
